console.log('<%= params[:action] %>')
// --- Initial add patch plant functions ----
console.log("<%= @patch_plant.id %>")
function refreshPage(newHTML) {
  const newPage = document.querySelector('.season-cards');
  if (newPage) {
    newPage.innerHTML = newHTML
  }
}

function addPlant(plantHTML) {
  const plants = document.getElementById('veg-results');
  if (plants) {
   plants.insertAdjacentHTML('beforeend', plantHTML);

  }
}

function addButton(buttonHTML) {
  const plants = document.getElementById('insertButtonsHere');
  if (plants) {
   plants.insertAdjacentHTML('beforeend', buttonHTML);

  }
}


// ---- Patch Update Functions: -----
function refreshPatch(newHTML) {
  const patchPage = document.querySelector('.other-avaiable-plants');
  if (patchPage) {
    patchPage.innerHTML = newHTML
  }
}

function addPatchPlant(plantHTML) {
  const patch_plants = document.getElementById('patch-plants')
  if(patch_plants) {
    patch_plants.insertAdjacentHTML('beforeend', plantHTML);
  }
}

if (<%= @page == 'update_patch' %>) {
  addPatchPlant(`<div class="allplants" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url(@plant.photo)%>)">
    <li><%= link_to @patch_plant.plant.name.pluralize, patch_plant_path(@plant), class: "index-text" %></li>
    <li><%= link_to '-', patch_plant_path(@plant, page: "remove patch plant"), id: "minus-button", method: :delete, remote: true %> </li>
  </div>`);
  refreshPatch('<%= j render "patches/update_patch_plant", other_plants: @other_plants, patch: @patch, recommended_plants: @recommended_plants %>');
} else {
  addPlant(`<p id="patch_plant_<%= @patch_plant.id %>" ><%= @plant.name.capitalize %> <%= link_to "-", patch_plant_path(PatchPlant.where(plant: @plant, patch: @patch).first), method: :delete, remote: true %>  </p>`);
  refreshPage('<%= j render "patches/add_patch_plant", other_plants: @other_plants, patch: @patch, recommended_plants: @recommended_plants %>');
  addButton('<a href="/patches"><button type="button" class="btn btn-success" id="patchBtn">See my patch</button></a>')
}


