console.log("<%= @patch_plant.id %>")
function refreshPage(newHTML) {
  const newPage = document.querySelector('.season-cards');
  newPage.innerHTML = newHTML
}

function addPlant(plantHTML) {
  const plants = document.getElementById('veg-results');
  plants.insertAdjacentHTML('beforeend', plantHTML);
  document.getElementById('patchBtn').classList.remove('d-none');
  // console.log(plants)
}

addPlant(`<p id="patch_plant_<%= @patch_plant.id %>" ><%= @plant.name.capitalize %> <%= link_to "-", patch_plant_path(PatchPlant.where(plant: @plant, patch: @patch).first), method: :delete, remote: true %>  </p>`);
refreshPage('<%= j render "patches/add_patch_plant", other_plants: @other_plants, patch: @patch, recommended_plants: @recommended_plants %>');


