 <!-- Tab Code: -->
 <% content_for(:title) do %>
   <%= @patch_plant.plant.name.capitalize() %> | Patch Pal
  <% end %>

  <!-- Page Code: -->

<div class="patch-plant-show-page">
  <div class="patch-plant-alerts">
    <img class="leaf-avatar-patch" alt="avatar" src="<%= asset_url('leaf.png') %>" />
    <div class="co-patch"></div>
    <h3><span class="highlightme">&nbsp;<%="Your #{@patch_plant.plant.name} Tracker"%>&nbsp;</span></h3>
    <br>
    <h5>When you planted :</h5>
    <% if @patch_plant.plant_date == nil %>
      <p><%= "You haven't planted your #{@patch_plant.plant.name.pluralize} yet!"  %></p>
    <% else %>
      <p><%= @patch_plant.plant_date.strftime("%a, %d %b") %></p>
    <% end %>

    <% if @patch_plant.plant_date == nil %>
    <% elsif @patch_plant.harvest_date == nil %>
      <h5>When to harvest:</h5>
      <p><%= "You should harvest your #{@patch_plant.plant.name.pluralize} soon!" %></p>
    <% else %>
      <h5>When you harvested it:</h5>
      <p><%= @patch_plant.harvest_date.strftime("%a, %d %b") %></p>
    <% end %>
  </div>
  <div class="patch-plant-table-container">
    <h5><span class="highlightme patch-month-table">&nbsp;Month by Month&nbsp;</span></h5>
    <%= render 'shared/patch_plant_tables' %>
  </div>

  <div class="plant-container">
    <div class="row">
      <div class="col-6 plant-card">
        <br>
        <h5>What to Know</h5>
        <p>Hardiness: <%= @patch_plant.plant.hardiness %></p>
        <p>Where to Position: <%= @patch_plant.plant.position_in %></p>
        <h5>How to Sow</h5>
        <p><%= @patch_plant.plant.sowing %></p>
        <h5>How to Grow</h5>
        <p><%= @patch_plant.plant.more_info %></p>
      </div>
      <div class="col-6 calendar-container">
        <%= image_tag @patch_plant.plant.photo, alt: "alttext", class: "veg-show-background-pic" %>
        <%= link_to "Back to Patch", patch_path(@patch_plant.patch), class: "green-button" %>
      </div>
    </div>
  </div>
</div>
