
<!-- <div class="plant-container"> -->
  <%#= image_tag @plant.photo, alt: "alttext" %>
  <% content_for(:title) do %>
   <%= @plant.name.capitalize() %> | Patch Pal
  <% end %>

  <div class="plant-container">
    <div class="row">
      <div class="col-6 plant-card">
        <h2><span class="highlightme">&nbsp;<%= @plant.name %>&nbsp;</span></h2>

        <h5>The Basics</h5>
        <p><%#= @plant.description %></p>
        <p>Hardiness: <strong><%= @plant.hardiness %></strong></p>
        <p>Position in: <strong><%= @plant.position_in %></strong></p>
        <h5>How to Sow</h5>
        <p><%= @plant.sowing %></p>
        <h5>How to Grow</h5>
        <p><%= @plant.more_info %></p>
        <%#= link_to "Back to Plants", plants_path, class: "green-button" %>
      </div>
      <div class="col-6 calendar-container">
        <%= image_tag @plant.photo, alt: "alttext", class: "veg-show-background-pic" %>
        <div class="calendar-content">
          <h5><span class="highlightme month-table-j">&nbsp;Month by Month&nbsp;</span></h5>
          <%= render 'shared/growing_harvest_tables' %>
        </div>
        <img id="wateringman" src="<%= asset_url('ground.png') %>" alt=""><img id="box" src="<%= asset_url('box.png') %>" alt="">
      </div>
    </div>
    <%#= image_tag "cabbage.png", alt: "alttext", class: "veg-show-background-pic" %>
  </div>







