<h1>Plant Show page</h1>

<h2><%= @plant.name %></h2>
<p><%= @plant.description %></p>
<p>Hardiness: <%= @plant.hardiness %></p>
<p>Position in: <%= @plant.position_in %></p>
<p><%= @plant.sowing %></p>
<p><%= @plant.more_info %></p>
