
<!-- <div class="plant-container"> -->
  <%#= image_tag @plant.photo, alt: "alttext" %>

  <div class="plant-container">
    <div class="row">
      <div class="col-6 plant-card">
        <h2>&nbsp;<%= @plant.name %>&nbsp;</h2>
        <br>
        <h5>The Basics</h5>
        <p><%= @plant.description %></p>
        <p>Hardiness: <%= @plant.hardiness %></p>
        <p>Position in: <%= @plant.position_in %></p>
        <h5>How to Sow</h5>
        <p><%= @plant.sowing %></p>
        <h5>How to Grow</h5>
        <p><%= @plant.more_info %></p>
      </div>
      <div class="col-6 calendar-container">
        <div class="calendar-content">
          <h5>&nbsp;Month by Month</h5>
          <%= render 'shared/growing_harvest_tables' %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to "Back to Plants", plants_path %>





