<div class="green-strip"></div>
<div class="banner-login">
  <div class="login" style="background-image: asset_url('meadow2.png')">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" }  %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          <%= f.button :submit, "Log in", class: "form-actions btn-flat"%>
            <div class="reminder">
            <%= render "devise/shared/links"%>
            </div>
        </div>
      <% end %>
  </div>
  <img id="meadow-login" src="<%= asset_url('meadow2.png') %>"/>
</div>

