<div class="banner-new-patch">
  <h1>Let's get started</h1>
  <div class="search-bar">

  </div>
</div>
<div class="green-strip"></div>
<div class="container-new-patch">

  <div class="season-cards">
    <h2>'Tis the Season!</h2>
    <div class="container">
      <div class="row">
        <% @available_plants.first(6).each do |plant| %>
          <div class="cards col-sm-4">
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url(plant.photo)%>)">
                <h4 id="vg-text"><%= plant.name.capitalize %></h4>
                <%= button_to "+", patch_patch_plants_path(@patch, patch_plant: { plant: plant }), id: "plus-button", method: :post %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="patch-co">
    <div class="rel">
      <img class="leaf-avatar" alt="avatar" src="<%= asset_url('leaf.png') %>" />
      <div class="leaf-avatar co"></div>
      <h5><%= @patch.name %> Patch</h5>
      <% @patch.plants.each do |plant| %>
        <p><%= plant.name.capitalize %> <%= link_to "-", patch_plant_path(PatchPlant.where(plant: plant, patch: @patch).first), method: :delete %> </p>
      <% end %>
    </div>
  </div>
  <img src="<%= asset_url('man.png') %>" alt="" id="man">
  <img src="<%= asset_url('meadow.png') %>" alt="" id="meadow">
</div>

