<div class="banner-new-patch">
  <h1>Let's get started</h1>
  <!-- <div class="search-bar">
  </div> -->
</div>
<div class="green-strip"></div>
<div class="container-new-patch">
  <div class="season-cards">
    <%= render 'add_patch_plant', other_plants: @other_plants, patch: @patch, recommended_plants: @recommended_plants %>
  </div>
  <div class="patch-co">
    <div class="rel">
      <img class="leaf-avatar" alt="avatar" src="<%= asset_url('leaf.png') %>" />
      <div class="leaf-avatar co"></div>
      <h5><%= @patch.name %> Patch</h5>
        <%= render 'remove_patch_plant',other_plants: @other_plants, patch: @patch, recommended_plants: @recommended_plants %>
    </div>
    <%= link_to '<button type="button" class="btn btn-success">See my patches</button>'.html_safe, patches_path %>
  </div>
  <img src="<%= asset_url('man.png') %>" alt="" id="man">
  <img src="<%= asset_url('meadow.png') %>" alt="" id="meadow">
</div>

