<div class="banner-new-patch">
  <h1>Let's get started</h1>
  <!-- <div class="search-bar">
  </div> -->
</div>
<div class="green-strip"></div>
<div class="container-new-patch">
  <div class="season-cards">

    <%= render 'add_patch_plant', other_plants: @other_plants, patch: @patch, recommended_plants: @recommended_plants %>

  </div>
  <div class="patch-co" id="insertButton">
    <div class="rel">
      <img class="leaf-avatar" alt="avatar" src="<%= asset_url('leaf.png') %>" />
      <div class="leaf-avatar co"></div>
      <h5 style="margin-bottom: 8px;"><%= @patch.name %> Patch</h5>
        <%= render 'remove_patch_plant',other_plants: @other_plants, patch: @patch, recommended_plants: @recommended_plants %>
    </div>

    <div class="myclass">
      <%= render 'remove_patch_plant',other_plants: @other_plants, patch: @patch, recommended_plants: @recommended_plants %>
    <%= link_to '<button type="button" class="addbtn btn-success" id="patchBtn">See my patch</button>'.html_safe, patch_path, class: "addbtn" %>
</div>
    <%# if @patch.plants != [] %>
    <%# else %>
      <%#= link_to '<button type="button" class="btn btn-success d-none" id="patchBtn">See my patch</button>'.html_safe, patches_path %>
    <%# end %>
  </div>
  <img src="<%= asset_url('man.png') %>" alt="" id="man">
  <img src="<%= asset_url('meadowbig2.png') %>" alt="" id="meadow">
</div>

