<% content_for(:title) do %>
 <%= @patch.name.capitalize %> | Patch Pal
<% end %>

<div class="titlepatch">
  <h1><span class="highlightme">&nbsp;<%= @patch.name %>&nbsp;</span></h1>
</div>

<div class="alerts-box-container">
  <div class="patch-show-alerts">
    <img class="leaf-avatar-patch-show" alt="avatar" src="<%= asset_url('leaf.png') %>" />
    <div class="co-patch-show"></div>
    <h3><span class="highlightme">&nbsp;Patch Alerts&nbsp;</span></h3>
    <% @alerts.each do |alert| %>
      <div class="planting-alerts">
        <div class="alert-text">
          <p><%= alert.message %></p>
        </div>
        <div class="alert-button-container">
          <% if alert.type_of_alert == 'harvest' %>
            <button type="button" id="harvest-button" class="bti btn-success">Harvest</button>

            <%= link_to complete_alert_path(alert), method: :patch do %>
              <button type="button" class="bti btn-success d-none" id="harvest-button-hidden">Harvest</button>
            <% end %>

          <% elsif alert.type_of_alert == 'sowing' %>
            <button type="button" id="sow-button" class="bti btn-success">Sow</button>
            <%= link_to complete_alert_path(alert), method: :patch do %>
              <button type="button" class="bti btn-success d-none" id="sow-button-hidden">Sow</button>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% @weather_alerts.each do |w_alert| %>
      <div>
        <div class="weather-alerts">
          <div class="alert-text">
            <p><%= w_alert.message %></p>
          </div>
          <div class="alert-button-container">
            <button type="button" id="water-button" class="bti btn-success">Water</button>
            <%= link_to  complete_weather_alert_path(w_alert), method: :patch do %>
              <button type="button" class="bti btn-success d-none" id="water-button-hidden">Water</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="weatherforecast">
  <h2><img id="sun" src="<%= asset_url('sun.png') %>" alt=""><span class="highlightme" style="margin-right: 10px; margin-left: 10px;">&nbsp;This week's weather&nbsp;</span><img id="rain" src="<%= asset_url('rain.png') %>" alt=""></h2>

  <div class="everyday">
    <% @weekly_forecast.each do |day| %>
      <ul>
        <li><h3><%= day[:date].split(' ').first %></h3></li>
        <li><p><%= day[:description] %></p></li>
        <li><p><%= day[:temperature] %>°C</p></li>
      </ul>
    <% end %>
  </div>
</div>

  <!-- <h3><span class="highlightme">&nbsp;Your Plants:&nbsp;</span></h3> -->

  <%= render 'update_patch_plant',other_plants: @other_plants, patch: @patch, recommended_plants: @recommended_plants %>
<div class="patch-container">
  <div class="add-plant-btn-container">
    <button type="button" class="add-plants-btn" data-toggle="modal" data-target="#exampleModalLong">Add Plants!</button>
  </div>
  <h2>Your Patch</h2>
  <div class="infopatch">
    <div id="patch-plants">
      <%= render 'patch_plants', patch: @patch %>
    </div>
  </div>
</div>


